div(x-data="productPage()")
  h1 Settings page
  button.btn.btn-primary(type="button" @click="saveItems") Export
  input.btn.btn-primary(type="file" x-on:change="loadItems($event)" value="Import")

  button.btn.btn-primary(type="button" @click="add") Add Item
  .d-block.modal(tabindex="-1" x-show.important="showModal"): .modal-dialog: .modal-content
    .modal-header 
      h5.modal-title Add Product 
      button.btn-close(type="button" @click="showModal = false"  aria-label="Close")
    .modal-body 
      form#myform(@submit.prevent='save')
      .form-group
        label(for='finputId') Product Id
        input#finputId.form-control(type='text' x-model="editProduct.id" placeholder='Product Id')
      .form-group
        label(for='finputName') Name
        input#finputName.form-control(type='text' x-model="editProduct.name" placeholder='Product Name')
      .form-group
        label(for='finputPrintName') Print Name
        input#finputPrintName.form-control(type='text' x-model="editProduct.printName" placeholder='Product Name')
      .form-group
        label(for='finputUnit') Unit
        input#finputUnit.form-control(type='text' x-model="editProduct.unit" placeholder='Product Unit')
      .form-group
        label(for='finputPrice') Price
        input#finputPrice.form-control(type='text' x-model="editAmount" placeholder='0')
      .form-group(x-data={btnId: 'settingBtn'})
        label Category
        div: .btn-group(role="group")
          div(x-id="[btnId]")
            input.btn-check(:id="$id(btnId)" type="radio" @click="clearCategory()" :name="btnId" autocomplete="off" checked)
            label.btn.btn-outline-warning(:for="$id(btnId)") All
          for cat in getCategories(0)
            div(x-id="[btnId]")
              input.btn-check(type="radio" @click="setCategory(cat, 0)" :name="btnId" :id="$id(btnId)" autocomplete="off")
              label.btn.btn-outline-primary(:for="$id(btnId)")= cat
          div(x-id="[btnId]" x-show="getDepth() === 0")
            input.btn-check(type="radio" @click="newCategory" :name="btnId" :id="$id(btnId)" autocomplete="off")
            label.btn.btn-outline-info(:for="$id(btnId)") +
        for n in getDepth()
          div: .btn-group(role="group")
            for cat in getCategories(n)
              div(x-id="[btnId]")
                input.btn-check(type="radio" @click="setCategory(cat, n)" :name="btnId" :id="$id(btnId)" autocomplete="off")
                label.btn.btn-outline-primary(:for="$id(btnId)")= cat
            div(x-id="[btnId]" x-show="getDepth() === n")
              input.btn-check(type="radio" @click="newCategory" :name="btnId" :id="$id(btnId)" autocomplete="off")
              label.btn.btn-outline-info(:for="$id(btnId)") +
    .modal-footer 
      button.btn.btn-secondary(type="button" @click="showModal = false") Close
      button.btn.btn-primary(type="submit" form="myform") Save changes
      div(x-show="editIdx !== -1")
        button.btn.btn-danger(type="button" @click="remove") Delete
  table.table.table-striped
    thead
      th +/-
      th Id
      th Name
      th printName 
      th Unit 
      th Price 
      th Category 
    tbody 
      for product, idx in products
        tr
          td
            button.btn.btn-danger(type="button" @click="edit(idx)") Edit
          td= product.id
          td= product.name
          td= product.printName
          td= product.unit 
          td= product.price.toString() 
          td= product.category 